@model List<CinemaXXII.Models.SHOWING>
@{    
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
@{
    if (Model != null)
    {
        CinemaXXII.Models.CinemaXXIIDbEntities db = new CinemaXXII.Models.CinemaXXIIDbEntities();
        CinemaXXII.Models.MOVIE movie=null;
        <div style="max-width: 900px; margin: auto; border: 2px solid #2b2b2b; border-radius: 15px;margin-top:15px;margin-bottom:15px">
            <div class="modal-header" style="background: #dfb636;border-top-left-radius: 15px;border-top-right-radius: 15px">
                <h3 class="modal-title" style="text-align: center; color:white"><strong>Bookings</strong></h3>
            </div>
            <div class="container-fluid">
                @{
                    if (Model.Count == 0)
                    {
                        <h1 style="text-align:center">Sorry No Shows Available</h1>
                    }
                    else
                    {
                        <div class="input-group">
                            <span class="input-group-addon">Filter</span>
                            <input id="filter" type="text" class="form-control" placeholder="Type here...">
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Show Id</th>
                                        <th>Movie Name</th>
                                        <th>Show Date</th>
                                        <th>Show Time</th>
                                        <th>Seats Reserved</th>
                                        <th>&#9986;</th>
                                    </tr>
                                </thead>
                                <tbody class="searchable">
                                    @{
                                        for (int i = 0; i < Model.Count; i++)
                                        {
                                            int free = 0;
                                            for (int j = 0; j < Model.ElementAt(i).SEATS.Length; j++)
                                            {
                                                if (Model.ElementAt(i).SEATS[j] == 'n')
                                                {
                                                    free++;
                                                }
                                            }

                                            int movieid = Model.ElementAt(i).MOVIE_ID;
                                            movie = db.MOVIEs.Find(movieid);
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model.ElementAt(i).SHOW_ID</td>
                                                <td>@movie.NAME</td>
                                                <td>@Model.ElementAt(i).DATE.ToString("MMMM dd,yyyy")</td>
                                                <td>@Model.ElementAt(i).SHOWTIME</td>
                                                <td>@(100-free)</td>
                                                <td><a style="font-size:20px" href="/Admin/DeleteShow/@Model.ElementAt(i).SHOW_ID">&#10006;</a></td>
                                            </tr>
                                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                                                        }
                }
            </div>

            <div class="modal-footer" style="background:#dfb636;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;margin-top:-1px;height:50px">
            </div>
        </div>
        <script>
            $(document).ready(function () {

                (function ($) {

                    $('#filter').keyup(function () {

                        var rex = new RegExp($(this).val(), 'i');
                        $('.searchable tr').hide();
                        $('.searchable tr').filter(function () {
                            return rex.test($(this).text());
                        }).show();

                    })

                }(jQuery));

            });
        </script>
                                                        }
}
